#border1 {
  border-style: solid dotted double dashed;
}

#border2 {
  border-style: solid;
  border-width: thick;
}

#border3 {
  border-style: solid;
  border-width: thick;
  border-color: hsl(241, 70%, 42%) rgb(255, 45, 22) #faf608 green;
}

#border4 {
  border-style: solid;
  border-width: thick;
  border-color: blue;
  border-radius: 10em 30% 30% 10em;
  color: transparent;
  /* border-radius: 20px; */
  /* border-radius: 5%; */
}

#border5 {
  outline: 5px dashed orange;
  border: 5px solid blue;
}